[submodule "templates_qed"]
	path = templates_qed
	url = https://github.com/quanted/templates_qed.git
[submodule "static_qed"]
	path = static_qed
	url = https://github.com/quanted/static_qed.git
[submodule "splash_app"]
	path = splash_app
	url = https://github.com/quanted/splash_app.git
[submodule "requirements_qed"]
	path = requirements_qed
	url = https://github.com/quanted/requirements_qed.git
[submodule "pram_app"]
	path = pram_app
	url = https://github.com/quanted/pram_app.git
[submodule "flask_qed"]
	path = flask_qed
	url = https://github.com/quanted/flask_qed.git
[submodule "temp_config"]
	path = temp_config
	url = https://github.com/quanted/temp_config.git
[submodule "qed_smoketests"]
	path = qed_smoketests
	url = https://github.com/quanted/qed_smoketests.git
[submodule "qed_nginx"]
	path = qed_nginx
	url = https://github.com/quanted/qed_nginx
